@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #F5F5F5;
    --green: #5B726C;
    --purple: #5C3671;
    --text: #3C3B39;
  }

body {
    background-color: var(--background);
    font-family: 'Manrope', sans-serif;
}

.title-h1{
  color: var(--background);
  text-align: center;
  font-weight: 400;
  font-size: 1.8rem;
}

.p-hero{
  color: var(--background);
  text-align: center;
  font-size: 0.7rem;
}

.title-h2{
  color: var(--purple);
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.title-h3{
  color: var(--purple);
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.title-h4{
  color: var(--purple);
  font-weight: 600;
  font-size: 1rem;
}

.text-p {
  color: var(--text);
  font-size: 0.7rem;
}

ul.text-p {
  list-style-type: disc; /* Cambia "disc" a "circle" u otro estilo de viñeta si lo prefieres */
}

.team-img{
  transition:  .3s ease;
}

.team-img:hover {
  scale: 1.02;
}

